/* Typography */
/* body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1,
h2,
h3 {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: bold;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
} */

:root {
  --font-family: "Poppins", sans-serif;
  --font-size-xsm: 1.2rem;
  --font-size-sm: 1.6rem;
  --font-size-md: 2.4rem;
  --font-size-lg: 3rem;
  --font-size-xl: 4rem;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-sm);
}

html {
  font-size: 62.5%;
}

input,
button {
  font: inherit;
}

i {
  font-size: var(--font-size-md);
}

.logo {
  font-size: var(--font-size-md);
}

.form-note {
  font-size: var(--font-size-xsm);
}

.headline-banner {
  font-size: var(--font-size-xsm);
}

.headline {
  font-size: 1rem;
}

.article-category {
  font-size: 1rem;
}

.article-data {
  font-size: var(--font-size-xsm);
}

.article-title {
  font-size: var(--font-size-md);
}
