body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #333;
}

.post {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.post h2 {
  color: #333;
  margin-bottom: 10px;
}

.post p {
  color: #666;
  line-height: 1.5;
}

/* Grid */

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "hd hd"
    "sb ct"
    "ft ft";
  grid-gap: 20px;
}

.header {
  grid-area: hd;
}

.footer {
  grid-area: ft;
}

.sidebar {
  grid-area: sb;
}

.content {
  grid-area: ct;
}
